#header {
    background: url("../img/header.png");
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    font-weight: bold;
}
.active-nav button {
    background-color: rgb(137, 145, 145);
    color: darkblue;
}